{% extends 'master.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h1>
                {{ article.title }}
                {% if perms.ocenjivanje.change_article %}
                    <a href="{% url 'ocenjivanje:edit' article.id %}">
                        <span class="badge badge-primary">Edit</span>
                    </a>
                {% endif %}
                <a href="{% url 'ocenjivanje:oceni' article.id %}">
                        <span class="badge badge-warning">Oceni</span>
                </a>
                <a href="{% url 'ocenjivanje:promeniOcenu' article.id %}">
                        <span class="badge badge-warning">Promeni Ocenu</span>
                </a>
            </h1>
        </div>

    </div>

{% endblock %}